<div>
    <form method="post">
     
        <label for="userName">username</label>
        </br>
        <input type="test" id="userName" value="{{userName}}" disabled="disabled"></input>
        </br>
        <label for="firstName">firstName</label>
        </br>
        <input type="test" id="firstname" value="{{firstName}}" disabled="disabled"></input>
        </br>
        <label for="lastName">lastName</label>
        </br>
        <input type="test" id="firstname" value="{{lastName}}" disabled="disabled"></input>
        </br>
        <label for="email">email</label>
        </br>
        <input type="test" id="email" value="{{email}}" disabled="disabled"></input>
        </br>
    </form>



    <a href="/logout">logout</a>
</div>